# Vim bundle installation path
vim/bundle/
vim/bundles/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*

# Brew
scripts/Brewfile.lock.json

# Temp path
temp/
